.carousel-wrapper {
    margin: 0 auto;
    padding: 0 2rem;

    .slick-prev, 
    .slick-next {
        background-color: #f2f2f2;
    }

    .slick-prev:before, 
    .slick-next:before {
        color: #000;
    }

    .slick-slide {
        
        img {
            height: 100%;
            width: 100%;
            inset: 0;
            position: absolute;
            opacity: .5;
        }

        .slide {
            position: relative;
            background-color: #000;
            height: 300px;
        }
    
        .text-overlay {
            position: relative;
            padding: 35px;
            height: 100%;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
    
            h3 {
                color: #fec830;
                font-size: 1.5rem;
                font-weight: 400;
                padding-bottom: .5rem;
            }
            
            h6 {
                color: #fff;
                font-size: 1rem;
                font-weight: 400;
            }
            
            p {
                font-weight: 400;
                color: #ccc;
                font-size: .8rem;
                margin-top: .5rem;
            }

            @media (max-width: 992px) {
                padding: 5px;
            }
        }
    }
}



