.covid-header {
    background-color: #000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

    .container {
        display: flex;
        max-width: 1410px;
        padding: 0 15px;
        margin: 0 auto;

        .stay-safe {
            width: 130px;
            padding: .5rem;
        }
    }

    .corona {
        margin: 0 auto;
        display: flex;
        align-items: center;

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #fff;

            .corona-img {
                width: 35px;
                height: 35px;
                margin-right: .5rem;
            }
        }
    }
}







