a {
    text-decoration: none;
    background-color: transparent;
}

.card {
    margin: .5rem .5rem 0 .5rem;
    padding: 1rem;
    min-height: 300px;
    background-image: linear-gradient(45deg,rgba(135,26,67,.7) 0,rgba(19,117,128,.7) 100%),
      url(../../../assets/images/bigCard-park-zrinjevac.jpg)      ;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    flex: 1;
    display: flex;
    border-radius: 5px;
}

.card:hover .svg-icon {
    background-image: url(../../../assets/images/heart-red.svg);
    transform: scale(1.15,1.15);
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-content-main {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    justify-content: flex-end;
    flex: 2;
    margin-bottom: 1rem;
}

.card-content-main p {
    margin-top: .5rem;
}

.card-content-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    flex: 1; 
}

.card-content-footer-likes {
    display: flex;
    align-items: center;
}

.svg-icon {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    background-image: url(../../../assets/images/heart-solid.svg);
    background-repeat: no-repeat;
    transition: all .6s;
}



.card-content-footer-date {
    text-align: right;
}

.card-content-footer-date span {
    color: #fec830;
}

/* Mobile */
@media (max-width: 767px) {
    .card-content {
      min-height: 300px;
    }
  }