.card-special {
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    flex: 1 1 400px;
    min-height: 515px;
    border-radius: 5px;
    margin: .5rem;
    border-radius: 10px;
  }
  
  .card-special h3{
    font-size: 2rem;
    color: #fff;
    padding-bottom: 1rem;
  }
  
  .card-special p {
    color: #fff;
    padding-bottom: 2rem;
  }
  
  .card-button-special {
    font-size: 1rem;
    padding: 1rem;
    border: 2px dashed yellow;
    background: red;
    color: yellow;
    transition: all .6s;
  }
  
  .card-button-special:hover {
    background-color: yellow;
    color: #000;
    cursor: pointer;
  }

  @media (max-width: 1440px) {
    .card-special {
      flex: 1 1 300px;
    }
}